POSTGRES_DB=dionomy
POSTGRES_USER=dionomy
POSTGRES_PASSWORD=replace-me
DIONOMY_DATABASE_URL=jdbc:postgresql://localhost:5432/dionomy
DIONOMY_DATABASE_USERNAME=dionomy
DIONOMY_DATABASE_PASSWORD=replace-me
JAVA_HOME=
