POSTGRES_DB=dionomy
POSTGRES_USER=dionomy
POSTGRES_PASSWORD=change-this-password
DIONOMY_BACKEND_BIND=127.0.0.1
DIONOMY_BACKEND_PORT=18080
DIONOMY_FRONTEND_BIND=127.0.0.1
DIONOMY_FRONTEND_PORT=18081
DIONOMY_IMAGE_TAG=local
